<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Single Post</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div id="posts">
            <div class="posts">
                <div class="image-box">
                    <!-- divMain -->

                    <div class="top">
                        <!-- divTop -->
                        <div class="author">
                            <img src="<%= posts.profile %>" alt="">
                            <div class='<h3 class="comment">'>
                                <%= posts.author %>
                            </div>
                        </div>
                        <div class="date">
                            <%= posts.date %>
                        </div>
                    </div>

                    <div class="image">
                        <!-- divImage -->
                        <div class="image">
                            <div class='img'> <img src="<%= posts.image %>" alt=""> </div>
                            <div class="comment">
                                <%= posts.body %>
                            </div>
                        </div>
                    </div>

                    <div class="bottom">
                        <div class="bottom">
                            <div id="like">
                                <a class="like" data-update="<%= posts.id %>">Like</a>
                                <%= posts.likes %>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="delete" data-del="<%= posts.id %>">Delete</a>
            </div>
        </div>


        <%- include('./partials/footer.ejs') %>
</body>

</html>

<script>
    const delreq = document.querySelector('a.delete');
    delreq.addEventListener('click', (e) => {
        const endpoint = `/posts/${delreq.dataset.del}`;

        fetch(endpoint, {
            method: 'DELETE',
        }).then(window.location.href = '/')
    });

    const updatereq = document.querySelector('a.like');
    updatereq.addEventListener('click', (e) => {
        const endpoint = `/posts/${updatereq.dataset.update}`;

        fetch(endpoint, {
            method: 'PUT',
        }).then(location.reload())
    });
</script>

<style scoped>
    #posts {
        background-color: #efefef;
    }

    .like {
        background-color: rgb(238, 237, 237);
        color: #2c3e50;
        font-size: 20px;
        padding: 5px;
        margin: auto;
    }

    .like:hover {
        color: black;
        background-color: rgb(223, 221, 221);
        cursor: pointer;
    }

    .delete {
        background-color: rgb(238, 237, 237);
        color: #2c3e50;
        font-size: 20px;
        padding: 5px;
        margin: auto;
        box-shadow: -1px 1px 5px 3px gainsboro;
    }

    .delete:hover {
        color: black;
        background-color: rgb(223, 221, 221);
        cursor: pointer;
    }

    .image-box {
        background-color: white;
    }

    .posts {
        background-color: white;
        padding-top: 30px;
        max-width: 900px;
        margin: auto;
        padding-bottom: 30px;
        flex-direction: column;
        display: flex;
    }

    .image-box {
        width: 80%;
        font-family: Georgia;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        margin: auto;
        margin-bottom: 20px;
        box-shadow: -1px 1px 5px 9px gainsboro;
    }

    .top {
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    .author {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 16px;
    }

    .author img {
        height: 30px;
        width: 30px;
        padding-right: 10px;
        border-radius: 50%;
    }

    .date {
        color: black;
        font-size: 16px;
    }

    .comment {
        color: black;
        font-size: 18px;
    }

    .image div {
        padding: 0px 10px 10px 10px;
    }

    .image img {
        display: block;
        padding-bottom: 20px;
        max-width: 100%;
        max-height: 600px;
        width: auto;
        height: auto;
        margin: auto;
    }

    .image-box p {
        margin: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .bottom {
        padding: 10px 0px 20px 10px;
    }

    /* adjacent sibling selector */
    h3 {
        color: darkgrey;
        font-size: 12px;
        padding-left: 5px;
    }
</style>